*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --purple-50-color: hsl(260, 100%, 95%);
  --purple-300-color: hsl(264, 82%, 80%);
  --purple-500-color: hsl(263, 55%, 52%);
  --grey-color-100: hsl(214, 17%, 92%);
  --grey-color-200: hsl(0, 0%, 81%);
  --grey-color-400: hsl(224, 10%, 45%);
  --grey-color-500: hsl(217, 19%, 35%);
  --dark-blue-color: hsl(219, 29%, 14%);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 7%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  background: #f6f5f6;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
}

input,
textarea {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-webkit-autofill:hover {
  transition: background-color 1s 9999s;
  -webkit-text-fill-color: var(--text-color);
  caret-color: var(--text-color);
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1370px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100vh;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "card-1 card-1 card-2 card-5" "card-3 card-4 card-4 card-5";
  gap: 32px;
  width: 1114px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px #48556a;
}
.testimonials__info {
  display: flex;
  align-items: center;
  gap: 16px;
}
.testimonials__avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
}
.testimonials__wrap {
  color: var(--white-color);
  line-height: 110%;
}
.testimonials__very {
  margin-top: 4px;
}
.testimonials__heading {
  z-index: 2;
  font-size: 2rem;
  line-height: 120%;
  font-weight: 600;
  color: var(--white-color);
}
.testimonials__desc {
  line-height: 140%;
}

.card-1 {
  position: relative;
  grid-area: card-1;
  background: var(--purple-500-color);
}
.card-1 .testimonials__desc {
  color: var(--purple-50-color);
}

.blq {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 60px;
}

.card-2 {
  grid-area: card-2;
  background: var(--grey-color-500);
}

.card-2 .testimonials__desc,
.card-4 .testimonials__desc {
  color: var(--grey-color-100);
}

.card-3 {
  grid-area: card-3;
}

.card-3,
.card-5 {
  background: var(--white-color);
}
.card-3 .testimonials__heading,
.card-5 .testimonials__heading {
  color: var(--grey-color-500);
}
.card-3 .testimonials__desc,
.card-5 .testimonials__desc {
  color: var(--grey-color-400);
}

.card-4 {
  grid-area: card-4;
  background: var(--dark-blue-color);
}
.card-4 .testimonials__heading {
  color: var(--grey-color-200);
}

.card-5 {
  grid-area: card-5;
}

@media (max-width: 1024px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    width: 80%;
    height: inherit;
    margin: 32px 0;
  }
  .wrap {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "card-1 card-1" "card-2 card-3" "card-4 card-4" "card-5 card-5";
    width: 100%;
  }
}
@media (max-width: 420px) {
  .wrap {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "card-1" "card-2" "card-3" "card-4" "card-5";
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
